
<div *ngIf="userLogged()" class="content" role="main">
  <h1>Welcome to Spurge's second hand car business!</h1>
  <h2><i>The best in town!</i> (honest reviews)</h2>

  <br>
  <button type="button" (click)="goToFilter()">Browse cars by fuel</button>
  <button type="button" (click)="goToCrud()">Modify existing cars</button>
  <button type="button" onclick="location.href='https://youtu.be/dQw4w9WgXcQ'">Win a free car today! (guaranteed)</button>
  <br>
</div>

<div *ngIf="!userLogged()">
  <button type="button" onclick="location.href='./cars-login'">Login</button>
</div>
